* {
	margin: 0;
	padding: 0;
}
body {
	background-color: lavender;
}
content {
	width: 100%;
	height: 100%;
}
header {
	width: 100%;
	background-color: lavender;
	height: 147px;
}
.header-container {
	width: 960px;
	height: 150px;
	margin: 0 auto;
	padding: 25px 0 20px 0;
}
.logo-container	{
	width: 226px;
	height: 91px;
}
.logo-container img {
	width: 100%;
	height: 100%;
}
.header-nav-container {
	width: 734px;
	height: 91px;
	float: right;
	opacity: 0.55;
}
#heading {
	font-size: 16px;
	font-family: "Roboto Slab";
	margin-bottom: 3px;
}
#details {
	font-size: 12.5px;
	font-family: "Open Sans";
	line-height: 110%;
	opacity: 0.55;
}
.about1 {
	padding-left: 7px;
	margin-top: 15px;
	margin-right: 15px;
	margin-left: 43px;
	float: left;
	width: 120px;
	height: 47px;
	border-left: 3px solid black;
}
.programs {
	padding-left: 7px;
	margin-top: 15px;
	margin-right: 15px;
	float: left;
	width: 225px;
	height: 47px;
	border-left: 3px solid black;
}
.registrar {
	padding-left: 7px;
	margin-top: 15px;
	margin-right: 15px;
	float: left;
	width: 140px;
	height: 47px;
	border-left: 3px solid black;
}
.alumni {
	padding-left: 7px;
	margin-top: 15px;
	float: left;
	width: 120px;
	height: 47px;
	border-left: 3px solid black;
}
nav {
	width: 100%;
	background-color: #2e641f;
	height: 52px;
}
.nav-container {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}
.nav-container ul {
	margin-left: -10px;
	list-style-type: none;
}
.nav-container li {
	float: left;
	padding: 17px 0 15px 10px;
	color: white;
	opacity: 0.60;
	font-size: 14px;
	font-family: "Open Sans Light";
}
input[type=text] {
	width: 50px;
}
.main {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}
.image-holder {
	width: 100%;
	height: 430px;
}
.image-holder img {
	width: 100%;
	height: 100%;
}
.reminders {
	margin-top: 30px;
	width: 100%;
	height: 510px;
}
.news {
	background-color: blue;
	width: 305px;
	height: 510px;
	float: left;
}
.announcements {
	background-color: green;
	width: 305px;
	height: 510px;
	float: right;
}
.featured {
	background-color: red;
	width: 305px;
	height: 510px;
	float: right;
	margin-right: 22px;
}
.social {
	width: 100%;
	height: 590px;
}
.subscribe {
	margin-top: 30px;
	background-color: teal;
	width: 470px;
	height: 250px;
	float: left;
}
.fb {
	margin-top: 30px;
	background-color: teal;
	width: 470px;
	height: 250px;
	float: right;
}
.insta {
	margin-top: 30px;
	background-color: teal;
	width: 470px;
	height: 250px;
	float: left;
}
.twitter {
	margin-top: 30px;
	background-color: teal;
	width: 470px;
	height: 250px;
	float: right;
}
.inquiries {
	width: 100%;
	height: 450px;
}
.form {
	width: 100%;
	height: 450px;
	background-color: pink;
}
.about-container {
	height: 400px;
	background-color: black;
	margin-top: 30px;
	padding: 55px 200px 55px 200px;
}
.about {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	background-color: blue;
}
footer {
	width: 100%;
	background-color: teal;
	height: 255px;
}


